/* PHONE SCREEN */  
html {
    background-color: black;
    font-family:Arial, Helvetica, sans-serif; 
    padding: 20px;  
}
h1 {
    background-color: white;
    color: #007d7b;
    text-align: center;
    margin: 0%;
    padding-top: 10px;
    position: relative;
    bottom: 1.2em;
 }

 #title {
    text-align: center;
    margin-left:25px;
    margin-right:25px;
 }
.P1 , .P2 {
    text-align: left;
    padding-left: 6px;
 }
 .P2 {
    padding-bottom: 30px;
 }
nav {
    background-color: black;
}
.about {
    padding-top: 4px;
}
 ul {
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0%;
}
nav a {
    color: white;
    text-decoration: none;
}
main {
    background-color: white;
    text-align: center;
    margin-left:25px;
    margin-right:25px;
    font-weight: lighter;
}
h2 {
    text-align: center;
}
#contact {
    background-color: black;
    color: white;
    text-align: center;
}
form {
    text-align: left;
}
footer {
    text-align: center;
    background-color: black;
    margin: 0%;
    color: white;
    text-transform: uppercase;
    position: relative;
    top: 2.3em;
}
img {
    max-width:85%;
    max-height: 80%;
}
#photo-gallery , img {
    margin: -17px;
}
#photo-gallery {
    text-transform: uppercase;
    font-size: 9pt;
}
.chile {
    color: white;
}
 .chili h3 {
    text-align: center;
    position: relative;
    bottom: 1.5em;
    color: white;
  
}
.hawaii h3 {
    position: relative;
    bottom: 1.5em;
    color: white;
}
.Moab-Desert h3 {
    position: relative;
    bottom: 1.5em;
    color: white;
} 
.Guatemala h3 {
    position: relative;
    bottom: 15.5em;
    color: white;
}
.Wyoming h3 {
    position: relative;
    bottom: 15.5em;
    color: white;
}

.Italy h3 {
    position: relative;
    bottom:1.5em;
}
.Rocky-Mountains h3{
    position: relative;
    bottom: 15.5em;
}
.Switzerland h3{
    position: relative;
    bottom: 15.5em;
}
.UK h3 {
    position: relative;
    bottom: 15.5em;
}
.Iran h3 {
    position: relative;
    bottom: 38em;
}
.Ireland h3 {
    position: relative;
    bottom: 38em;
}
.USA h3 {
    position: relative;
    bottom: 15.5em;
}
#form {
    display: flex;
    justify-content: center;
    font-size: small;
}
label , form {
    padding-left: 5px;
}
.namef {
    padding-bottom: 15px;
}
button {
    background-color: #007d7b;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: .6em;
    text-transform: uppercase;
    font-size: x-small;
}
.inside {
    color: #007d7b;
    padding:3px;
    font-size: small;
}

/* MEDIUM SCREEN */
@media screen and (min-width:880px) {
    h1 {
        padding-top: 10px;
        margin: 0%;
    }
    html {
        margin-left: 45px;
        margin-right: 45px;
    }

    #photo-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin-left: 1%;
        margin-right: 1%;
        
    }

    #photo-gallery h3 {
        position: relative;
    }

    .hawaii, img {
        align-self: start;
    }
    .Guatemala h3 {
    position: relative;
    bottom: 19.3em;
    color: white; 
}
.Wyoming h3 {
    position: relative;
    bottom: 19.3em;
    color: white;
}
.UK h3 {
    position: relative;
    bottom: 19.3em;
}
.Switzerland h3 {
    position: relative;
    bottom: 19.3em;
}
.USA h3 {
    position: relative;
    bottom: 19.3em;
}
.Rocky-Mountains h3 {
    position: relative;
    bottom: 19.3em;
}
.Ireland h3 {
    position: relative;
    bottom: 44em;
}
.Iran h3 {
    position: relative;
    bottom: 44em;
}
button {
    padding-left: 100px;
    padding-right:100px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: .9em;
}
.inside {
padding-right: 3in;
}

img {
        max-width:98%;
}

}

/* Large SCREEN */
@media screen and (min-width:1300px) {

    #photo-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        margin-left: 1%;
        margin-right: 1%;

    }
main {
  
    max-width: fit-content;
    margin: auto;
}
img {
    max-width:96%;
    max-height: 80%;
}

nav ul {
justify-content: flex-end;

}
nav {
    margin: auto;
    max-width: 1160px;
}
header {
    padding-bottom: 30px;
}
nav li {
    padding-left: 10px;
   
}

.inside {
padding-right: 7in;
}
#title {
 
    max-width: 1160px;
    margin: auto;
}
  .Guatemala h3 {
    position: relative;
    bottom: 16.3em;
    color: white; 
}
.Wyoming h3 {
    position: relative;
    bottom: 16.3em;
    color: white;
}
.UK h3 {
    position: relative;
    bottom: 16.3em;
}
.Switzerland h3 {
    position: relative;
    bottom: 16.3em;
}
.USA h3 {
    position: relative;
    bottom: 16.3em;
}
.Rocky-Mountains h3 {
    position: relative;
    bottom: 16.3em;
}
.Ireland h3 {
    position: relative;
    bottom: 38em;
}
.Iran h3 {
    position: relative;
    bottom: 38em;
}
}